<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hacktiv Shirt Store</title>
</head>
<body>
  <h1>Add Shirt</h1>
  <form>
		<div>
			<label>Name</label>
			<input name="name" type="text" placeholder="e.g: Kaos Polo Garis">
		</div>
		<div>
			<label>Type</label>
			<select name="type">
				<option default selected>--Select Type--</option>
				<option>Casual</option>
				<option>Dress</option>
				<option>T-Shirt</option>
				<option>Polo</option>
			</select>
		</div>
		<div>
			<label>Size</label>
			<select name="size">
				<option default selected>--Select Size--</option>
				<option>S</option>
				<option>M</option>
				<option>L</option>
				<option>XL</option>
			</select>
		</div>
		<div>
			<label>Stock</label>
			<input name="stock" type="text" placeholder="e.g: 12">
		</div>
		<div>
			<button type="submit">Add</button>
		</div>
	</form>
</body>
</html>