<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hacktiv Shirt Store</title>
</head>
<body>
  <h1>Shirt List</h1>
  <a href="">Add</a>

	<table border="1">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Type</th>
				<th>Size</th>
				<th>Stock</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Kemeja Broadcloth Extra Fine Cotton Motif</td>
				<td>Casual</td>
				<td>L</td>
				<td>12</td>
				<td><a href="">Edit</a> | <a href="">Delete</a></td>
			</tr>

			<tr>
				<td>2</td>
				<td>Kaos Polo Dry-Ex Lengan Pendek</td>
				<td>Polo</td>
				<td>XL</td>
				<td>31</td>
				<td><a href="">Edit</a> | <a href="">Delete</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>